.info-column{
  width: 80%;
}

.buttons-column{
  width: 20%;
}

.user-info{
  float: right;
}

.wide-table {
  width: 100%;
}

.new-product-module {
  margin-top: 20px;
}

.content-col {
  width: 70%;
}

.date-col {
  width: 10%;
}

.new-avatar {
  margin-top: 10px;
}

.new-avatar .btn {
  margin-top: 5px;
}

.user-avatar img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  margin-bottom: 40px;
}

.to-right {
  float: right;
}

.wide-button {
  min-width: 200px;
}